#Numbers

In [1]:
2+1

3

In [2]:
2+2

4

In [3]:
3/2

1

In [4]:
3.0/2.0

1.5

In [5]:
float(3)/2

1.5

In [6]:
from __future__ import division

In [7]:
3/2

1.5

In [8]:
4**8

65536

In [9]:
my_income = 100

In [11]:
tax_rate = 0.1

In [13]:
my_taxes = my_income*tax_rate

In [14]:
my_taxes

10.0

 #Strings

In [17]:
'hello'

'hello'

In [18]:
'This is a string'

'This is a string'

In [19]:
print 'Hello world 1'
print 'hello world 2'

Hello world 1
hello world 2

In [20]:
print 'Here \n new lines'

Here
 new lines

In [21]:
print 'here \t is a tab'

here 	 is a tab

In [23]:
from __future__ import print_function

In [24]:
print('Hello world')

Hello world

In [25]:
len('Hello world')

11

In [26]:
s = 'hello world'

In [29]:
s

'hello world'

In [30]:
s[0]

'h'

In [31]:
s[1:]

'ello world'

In [32]:
s

'hello world'

In [33]:
s[:3]

'hel'

In [34]:
s[-1]

'd'

In [35]:
s[:-1]

'hello worl'

In [36]:
s[::2]

'hlowrd'

In [37]:
s[::-1] #Reversing the string

'dlrow olleh'

In [38]:
"immutability"

'immutability'

In [40]:
s + ' concentrate on me!'

'hello world concentrate on me!'

In [41]:
B4 = 'ankur'

In [45]:
B4*10

'ankurankurankurankurankurankurankurankurankurankur'

In [46]:
s.upper()

'HELLO WORLD'

In [52]:
s.expandtabs()

'hello world'

In [54]:
s.split('e')

['h', 'llo world']

#Lists

In [56]:
my_list = [1,2,3]

In [57]:
my_list

[1, 2, 3]

In [58]:
my_list = ['strings',23,1.2,'o']

In [59]:
my_list

['strings', 23, 1.2, 'o']

In [60]:
len(my_list)

4

In [62]:
             #Lists follow the rules simillar to the strings

In [63]:
my_list = my_list + ['Ankur']

In [64]:
my_list

['strings', 23, 1.2, 'o', 'Ankur']

In [65]:
l = [1, 2, 3]

In [66]:
l.append('append me!')

In [67]:
l

[1, 2, 3, 'append me!']

In [68]:
l.pop()

'append me!'

In [69]:
x = l.pop(0)

In [70]:
x

1

In [71]:
l

[2, 3]

In [72]:
new_list =['a','b', 'c' , 'd' , 'e' , 'f']

In [73]:
new_list

['a', 'b', 'c', 'd', 'e', 'f']

In [74]:
new_list.reverse()

In [75]:
new_list

['f', 'e', 'd', 'c', 'b', 'a']

In [76]:
new_list.sort()

In [79]:
new_list

['a', 'b', 'c', 'd', 'e', 'f']

In [80]:
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [81]:
matrix = [l_1,l_2,l_3]

In [82]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
matrix[0]

[1, 2, 3]

In [84]:
matrix[0][2]

3

#Comprehensions

In [85]:
 first_col = [row[0] for row in matrix]

In [86]:
first_col

[1, 4, 7]

#Dictionaries

In [88]:
l =[1,2,3]

In [89]:
l[0]

1

In [94]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [95]:
my_dict['key1']

'value1'

In [110]:
my_dict = {'k1':123, 'k2':234, 'k3':'string'}

In [111]:
my_dict['k1']

123

In [112]:
my_dict['k1'] - 100

23

In [113]:
my_dict['k1'] = my_dict['k1'] - 100

In [114]:
my_dict

{'k1': 23, 'k2': 234, 'k3': 'string'}

In [115]:
d = {}

In [116]:
d['animal'] = 'dog'

In [117]:
d['answer'] = 'cat'

In [118]:
d

{'animal': 'dog', 'answer': 'cat'}

In [119]:
d = {'k1':{'nestkey':{'subnestkey':'value'}}}  #nesting with dictionaries

In [120]:
d

{'k1': {'nestkey': {'subnestkey': 'value'}}}

In [121]:
d['k1']

{'nestkey': {'subnestkey': 'value'}}

In [122]:
d['k1']['nestkey']

{'subnestkey': 'value'}

In [123]:
d['k1']['nestkey']['subnestkey']

'value'

In [125]:
d['k1']['nestkey']['subnestkey'].upper()

'VALUE'

In [126]:
d.keys()

['k1']

In [127]:
d.values()

[{'nestkey': {'subnestkey': 'value'}}]

In [128]:
d.items()

[('k1', {'nestkey': {'subnestkey': 'value'}})]

#Tuples

In [138]:
l = [1,2,3,3]

In [141]:
t = (1,2,3,3)

In [132]:
len(t)

3

In [133]:
t[0]

1

In [134]:
t[::-1]

(3, 2, 1)

In [137]:
t.index(1)

0

In [142]:
t.count(3)

2

In [143]:
l[0] = 's'

In [144]:
l

['s', 2, 3, 3]

In [145]:
# Tuples are immutable

In [146]:
t[0] = 'change'

TypeError: 'tuple' object does not support item assignment

In [147]:
######################################

#Files

In [150]:
pwd

u'C:\\Users\\Ankur P'

In [152]:
f = open('readme.txt')

In [153]:
f.read()

'For information on installing libraries, see: http://www.arduino.cc/en/Guide/Libraries\n'

In [169]:
f.seek(0)
f.readlines()

['For information on installing libraries, see: http://www.arduino.cc/en/Guide/Libraries\n']

In [163]:
%%writefile new.txt
first line                    #Magic functions
second line

Writing new.txt

#Booleans and sets

In [172]:
x = set()

In [173]:
x

set()

In [174]:
x.add(1)

In [175]:
x

{1}

In [176]:
l = [1,22,22,2,2,13,45,67,67]

In [177]:
set(l)   #takes only unique values

{1, 2, 13, 22, 45, 67}

In [178]:
                #Booleans

In [179]:
a = True

In [180]:
a

True

#Comparison operators

In [181]:
1 > 2

False

In [2]:
2 == 2

True

In [3]:
1==1

True

In [8]:
#Not equal --- != or <>

In [6]:
2!= 2

False

In [7]:
# Chained Comparison Operators

In [9]:
1 < 2< 3

True

In [10]:
1 < 2 and 2 < 3

True

In [12]:
1 == 1 or 1000 == 1

True

In [16]:
# Introduction to Statements
# if, else, else statements

In [17]:
if True:
    print "it was true"

it was true

In [19]:
x = False #True

if x:
    print 'x was true'
   
else: 
    print 'I will print whan x is anything not true'

I will print whan x is anything not true

In [22]:
loc = 'Bank'

if loc == 'autoshop':
    print 'Welcome to the Autoshop!'
    
elif loc == 'Bank':
    print 'Welcome to the bank'
    
else:
    print 'Welcome to the mall!'

Welcome to the bank

In [26]:
# For loops

In [27]:
l = [1, 2, 3, 4, 5]

In [28]:
for element in l:
    print element

1
2
3
4
5

In [29]:
for num in l:
    print 'something'

something
something
something
something
something

In [31]:
for num in l:
    if num % 2 == 0:
        print num

2
4

In [32]:
for num in l:
    if num % 2 == 1:
        print num

1
3
5

In [34]:
list_sum = 0

for num in l:
    list_sum = list_sum + num     # list_sum += num
    
print list_sum

15

In [35]:
s = 'This is a string!'

In [37]:
for item in s:
    print item

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [39]:
tup =(1,2,3,4,5)

for item  in tup:
    print item

1
2
3
4
5

In [41]:
l = [(2,4),(6,8),(10,12)]

In [42]:
l

[(2, 4), (6, 8), (10, 12)]

In [43]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [44]:
for (t1,t2) in l:
    print t1

2
6
10

In [46]:
# While loops

#while test :
    #code statements
#else:
    #final code statements

In [47]:
x = 0

while x < 10:
    print 'x is currently: ',x
    x += 1

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9

In [48]:
x = 0

while x < 10:
    print 'x is currently: ', x
    x += 1
    
else:
    print 'All done !'

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9
All done !

In [49]:
#Break continue Pass

In [54]:
x = 0

while x < 5:
    print 'x is currently: ',x
    print 'x is still less than 5, adding 1 to x'
    x += 1
    
    if x==3:
        print 'Hey x equals to 3!'
        
        # break
    else:
        print 'continuing...'
        # continue

x is currently:  0
x is still less than 5, adding 1 to x
continuing...
x is currently:  1
x is still less than 5, adding 1 to x
continuing...
x is currently:  2
x is still less than 5, adding 1 to x
Hey x equals to 3!
x is currently:  3
x is still less than 5, adding 1 to x
continuing...
x is currently:  4
x is still less than 5, adding 1 to x
continuing...

In [55]:
# range()

In [57]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
x = range(10)

In [59]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
type (x)

list

In [64]:
start = 5
stop = 15
range (start,stop,2)

[5, 7, 9, 11, 13]

In [66]:
for num in xrange(1,6):
    print num                  #xrange will generate elemnets but not save them into memory

1
2
3
4
5

#Comprehensions

In [68]:
l = []

for letter in 'word':
    l.append(letter)
    
print l

['w', 'o', 'r', 'd']

In [69]:
l = [letter for letter in 'word']

In [71]:
l

['w', 'o', 'r', 'd']

x^2 for x in range(0,10)

In [72]:
lst = [x**2 for x in range(0,11)]

In [73]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
lst = []

for number in range (11):
    if number %2 == 0:
        lst.append(number)
        
        # or lst = [number for number in range (11) if number % 2 == 0]

In [77]:
lst

[0, 2, 4, 6, 8, 10]

In [82]:
celsius = [0,10,20,1,34.5]

fahrenheit = [ (temp * (9/5.0) + 32) for temp in celsius]

In [83]:
fahrenheit

[32.0, 50.0, 68.0, 33.8, 94.1]

In [85]:
lst = [x**2 for x in [x**2 for x in range(11)]] #nested comprehensions

In [86]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

Methods

In [1]:
l = [1,2,3,4,5]

In [2]:
l.append(6)

In [3]:
l

[1, 2, 3, 4, 5, 6]

In [5]:
help(l.count)

Help on built-in function count:

count(...)
    L.count(value) -> integer -- return number of occurrences of value

In [8]:
l.pop(3)

4

Functions

function is a useful device that gruops together a set of statements so they can be run more than once.

In [10]:
def name_of_function(): #syntax
    pass

In [11]:
name_of_function()

In [15]:
def my_addition_func(arg1,arg2):
    print arg1+arg2
    """
    here is my docstring
    """
    
    pass

In [14]:
my_addition_func(1,2)

3

In [16]:
def say_hello():
    print 'hello'

In [17]:
say_hello()

hello

In [23]:
def greeting(name):
    print 'hello '+ name

In [24]:
greeting('Ankur')

hello Ankur

In [26]:
def add_num(num1,num2):
    return num1+num2

In [29]:
print add_num(2,3)

5

In [46]:
def is_prime(num):
    """
    INPUT : A Number
    OUTPUT: A print statement whether or not the number is prime
    
    """
    for n in xrange(2,num):
        if num % n == 0:
             print 'Not prime'
                break
            
    else:
        print 'prime!'    #Need to check out leter

IndentationError: unexpected indent (<ipython-input-46-551372b4ed7d>, line 10)

In [38]:
is_prime(4)

Not prime
This number is prime!

Lambda Expressions

Lambda's body is a single expression, not a block of statements
The lambda's body is similar to what we would put in a def body's return
statement. We simplt type the result as an expression instead of explicitly returning it.
Because it is limited to an expression, a lambda is less general that a def

In [47]:
def square(num):
    result = num**2
    return result

In [48]:
square(2)

4

In [51]:
def square(num): return num**2

In [52]:
square(2)

4

In [57]:
square2 = lambda num:  num**2

In [58]:
square2(10)

100

In [56]:
# Checking if a number is even

In [62]:
even = lambda num: num%2 == 0


#using function
#def even(num)
#return num%2 == 0

In [60]:
even(2)

True

In [63]:
#Grabs the first leter of a string

In [66]:
first = lambda s: s[0]

In [67]:
first('hello')

'h'

In [68]:
rev = lambda s: s[::-1]

In [70]:
rev('hello')

'olleh'

In [71]:
adder = lambda x,y : x+y

In [72]:
adder(5,6)

11

In [6]:
len_check = lambda item: len(item)

In [7]:
len_check('How old are you?')

16

Nested statements and scope----
      Name references search(at most) four scopes, these are:
 1.Local
 2.Enclosing functions
 3.global
 4.built-in

In [1]:
#Enclosing function local

In [8]:
name = 'This is a global name'
def greet():
    #Enclosing function
    
    name = 'Sammy'
    
    def hello():
        print 'hello ' + name
        
        hello()
greet()

In [10]:
print name

This is a global name

In [14]:
x =50  #Global statement
def func():
    global x
    print 'This function is now using the global x!'
    print 'Because of global x is: ',x
    x = 2
    print 'Ran func(), changed to global x to ',x 
    

print 'Before calling func(), x is : ', x
func()
print  'Value of x(outside the func()) is: ', x

Before calling func(), x is :  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed to global x to  2
Value of x(outside the func()) is:  2